#navid{
    display:flex;
    justify-content:space-between;
    
}

#shopimg{
    display:flex;
    justify-content:center ;
    padding:20px;
}
#shopimg>#shopimage{
        width:700px;
        height:500px;
        border:10px solid orange;
        border-radius:20px 20px 20px 20px;
}
#map{
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}
#contactus{
    background-color: orange;
    height:200px
}
#printerimg{
   height:260px; 
}
#itemsimg{
    height:260px;
}
